[submodule "xmonad-extras"]
	path = xmonad-extras
	url = https://github.com/aiya000/xmonad-extras
[submodule "xmonad"]
	path = xmonad
	url = https://github.com/xmonad/xmonad
[submodule "xmonad-contrib"]
	path = xmonad-contrib
	url = https://github.com/xmonad/xmonad-contrib
[submodule "X11"]
	path = X11
	url = https://github.com/xmonad/X11
